<div class= 'container'>
  <div class = 'child'>
    <br>
    <h1>パンの名前を当てよう！</h1>
    <br>
    <%= link_to 'https://www.instagram.com/hoppe_pan/', target: :_blank, rel: 'noopener noreferrer' do %>
      <%= image_tag 'hoppe.png', size: '300x300' %>
    <% end %>

    <%= link_to show_question_path do %>
      <%= image_tag 'start.png', size: '250x100' %>
    <% end %>
  </div>
</div>
